body {
  background-image: url(map.png);
  background-size: contain;
}
h1 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 10em;
}

div {
  align-items: stretch;
  flex-wrap: wrap;
}
background-color: #87CEEB;
