body{
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.43) 68%, rgba(134,174,204,0.16) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(68%, rgba(134,174,204,0.43)), color-stop(100%, rgba(134,174,204,0.16)));
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.43) 68%, rgba(134,174,204,0.16) 100%);
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.43) 68%, rgba(134,174,204,0.16) 100%);
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.43) 68%, rgba(134,174,204,0.16) 100%);
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,0.43) 68%, rgba(134,174,204,0.16) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
font-family: serif;
padding-left: 67px;
padding-right: 67px;
}

.heading{
position: relative;
text-align: center;
color: white;
}
.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 150px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
*{
 box-sizing: border-box;
}
h2{
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
h3{
  text-align: center;
  font-size: 20px;
}

.column {
  float: left;
  width: 50%;
  align-items: center;
  height: 600px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row_2:after {
  content: normal;
  display: table;
  clear: both;
}
.row_3:after{
  content: normal;
  display: table;
  clear: both;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  padding-left: 600px;
  padding-right: 600px;
  top: 0;
  width: 100%;
  left: 0;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  text-align: center;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
}

li a:hover {
  background-color: #111;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
